## Maps Neighborhoods in Toronto

### import Libraries

In [1]:
import pandas as pd
import numpy as np

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

### Load DataFrame using Pandas with CSV

In [2]:
df_data = pd.read_csv("DatasetPostCodeToronto.csv")
df_data.head()

  PostCode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
df_coord = pd.read_csv('Geospatial_Coordinates.csv')
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### Delete Borough with value equal "not assigned"

In [4]:
Notassigned = df_data[ df_data['Borough'] == "Not assigned" ].index
 
# Delete these row indexes from dataFrame
df_data.drop(Notassigned , inplace=True)

In [5]:
df_data.head()

  PostCode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [6]:
df_data.PostCode.unique()

array(['M3A', 'M4A', 'M5A', 'M6A', 'M7A', 'M9A', 'M1B', 'M3B', 'M4B',
       'M5B', 'M6B', 'M9B', 'M1C', 'M3C', 'M4C', 'M5C', 'M6C', 'M9C',
       'M1E', 'M4E', 'M5E', 'M6E', 'M1G', 'M4G', 'M5G', 'M6G', 'M1H',
       'M2H', 'M3H', 'M4H', 'M5H', 'M6H', 'M1J', 'M2J', 'M3J', 'M4J',
       'M5J', 'M6J', 'M1K', 'M2K', 'M3K', 'M4K', 'M5K', 'M6K', 'M1L',
       'M2L', 'M3L', 'M4L', 'M5L', 'M6L', 'M9L', 'M1M', 'M2M', 'M3M',
       'M4M', 'M5M', 'M6M', 'M9M', 'M1N', 'M2N', 'M3N', 'M4N', 'M5N',
       'M6N', 'M9N', 'M1P', 'M2P', 'M4P', 'M5P', 'M6P', 'M9P', 'M1R',
       'M2R', 'M4R', 'M5R', 'M6R', 'M7R', 'M9R', 'M1S', 'M4S', 'M5S',
       'M6S', 'M1T', 'M4T', 'M5T', 'M1V', 'M4V', 'M5V', 'M8V', 'M9V',
       'M1W', 'M4W', 'M5W', 'M8W', 'M9W', 'M1X', 'M4X', 'M5X', 'M8X',
       'M4Y', 'M7Y', 'M8Y', 'M8Z'], dtype=object)

### Create GroupBy with postcode and union Neighbourhood

In [7]:
df_postcode=df_data.groupby("PostCode")

In [8]:
df2=df_postcode['Neighbourhood'].apply(','.join).to_frame().reset_index()
df2.head()

  PostCode                         Neighbourhood
0      M1B                         Rouge,Malvern
1      M1C  Highland Creek,Rouge Hill,Port Union
2      M1E       Guildwood,Morningside,West Hill
3      M1G                                Woburn
4      M1H                             Cedarbrae

In [9]:
df1=df_postcode.Borough.unique().to_frame().reset_index()
df1.head()

  PostCode        Borough
0      M1B  [Scarborough]
1      M1C  [Scarborough]
2      M1E  [Scarborough]
3      M1G  [Scarborough]
4      M1H  [Scarborough]

In [10]:
df_clean=pd.merge(df1, df2, on='PostCode')
df_clean.head()

  PostCode        Borough                         Neighbourhood
0      M1B  [Scarborough]                         Rouge,Malvern
1      M1C  [Scarborough]  Highland Creek,Rouge Hill,Port Union
2      M1E  [Scarborough]       Guildwood,Morningside,West Hill
3      M1G  [Scarborough]                                Woburn
4      M1H  [Scarborough]                             Cedarbrae

In [11]:
df_clean.shape

(103, 3)

In [12]:
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

### concatenate Dataframe Postcode with DataFrame Coordenate

In [13]:
df_final=pd.concat([df_clean,df_coord], axis=1, join="inner")

In [14]:
df_final.head()

,PostCode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,[Scarborough],"Rouge,Malvern",M1B,43.806686,-79.194353
1,M1C,[Scarborough],"Highland Creek,Rouge Hill,Port Union",M1C,43.784535,-79.160497
2,M1E,[Scarborough],"Guildwood,Morningside,West Hill",M1E,43.763573,-79.188711
3,M1G,[Scarborough],Woburn,M1G,43.770992,-79.216917
4,M1H,[Scarborough],Cedarbrae,M1H,43.773136,-79.239476

In [15]:
#Delete column duplicate Postcode
df_final.drop("Postal Code", axis=1)

,PostCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,[Scarborough],"Rouge,Malvern",43.806686,-79.194353
1,M1C,[Scarborough],"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,[Scarborough],"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,[Scarborough],Woburn,43.770992,-79.216917
4,M1H,[Scarborough],Cedarbrae,43.773136,-79.239476
5,M1J,[Scarborough],Scarborough Village,43.744734,-79.239476
6,M1K,[Scarborough],"East Birchmount Park,Ionview,Kennedy Park",43.727929,-79.262029
7,M1L,[Scarborough],"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
8,M1M,[Scarborough],"Cliffcrest,Cliffside,Scarborough Village West",43.716316,-79.239476
9,M1N,[Scarborough],"Birch Cliff,Cliffside West",43.692657,-79.264848
10,M1P,[Scarborough],"Dorset Park,Scarborough Town Centre,Wexford He...",43.757410,-79.273304
11,M1R,[Scarborough],"Maryvale,Wexford",43.750072,-79.295849
12,M1S,[Scarborough],Agincourt,43.794200,-79.262029
13,M1T,[Scarborough],"Clarks Corners,Sullivan,Tam O'Shanter",43.781638,-79.304302
14,M1V,[Scarborough],"Agincourt North,L'Amoreaux East,Milliken,Steel...",43.815252,-79.284577
15,M1W,[Scarborough],L'Amoreaux West,43.799525,-79.318389
16,M1X,[Scarborough],Upper Rouge,43.836125,-79.205636
17,M2H,[North York],Hillcrest Village,43.803762,-79.363452
18,M2J,[North York],"Fairview,Henry Farm,Oriole",43.778517,-79.346556
19,M2K,[North York],Bayview Village,43.786947,-79.385975
20,M2L,[North York],"Silver Hills,York Mills",43.757490,-79.374714
21,M2M,[North York],"Newtonbrook,Willowdale",43.789053,-79.408493
22,M2N,[North York],Willowdale South,43.770120,-79.408493
23,M2P,[North York],York Mills West,43.752758,-79.400049
24,M2R,[North York],Willowdale West,43.782736,-79.442259
25,M3A,[North York],Parkwoods,43.753259,-79.329656
26,M3B,[North York],Don Mills North,43.745906,-79.352188
27,M3C,[North York],"Flemingdon Park,Don Mills South",43.725900,-79.340923
28,M3H,[North York],"Bathurst Manor,Downsview North,Wilson Heights",43.754328,-79.442259
29,M3J,[North York],"Northwood Park,York University",43.767980,-79.487262
...,...,...,...,...,...
73,M6C,[York],Humewood-Cedarvale,43.693781,-79.428191
74,M6E,[York],Caledonia-Fairbanks,43.689026,-79.453512
75,M6G,[Downtown Toronto],Christie,43.669542,-79.422564
76,M6H,[West Toronto],"Dovercourt Village,Dufferin",43.669005,-79.442259
77,M6J,[West Toronto],"Little Portugal,Trinity",43.647927,-79.419750
78,M6K,[West Toronto],"Brockton,Exhibition Place,Parkdale Village",43.636847,-79.428191
79,M6L,[North York],"Downsview,North Park,Upwood Park",43.713756,-79.490074
80,M6M,[York],"Del Ray,Keelesdale,Mount Dennis,Silverthorn",43.691116,-79.476013
81,M6N,[York],"The Junction North,Runnymede",43.673185,-79.487262
82,M6P,[West Toronto],"High Park,The Junction South",43.661608,-79.464763
83,M6R,[West Toronto],"Parkdale,Roncesvalles",43.648960,-79.456325
84,M6S,[West Toronto],"Runnymede,Swansea",43.651571,-79.484450
85,M7A,[Queen's Park],Not assigned,43.662301,-79.389494
86,M7R,[Mississauga],Canada Post Gateway Processing Centre,43.636966,-79.615819
87,M7Y,[East Toronto],Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558
88,M8V,[Etobicoke],"Humber Bay Shores,Mimico South,New Toronto",43.605647,-79.501321
89,M8W,[Etobicoke],"Alderwood,Long Branch",43.602414,-79.543484
90,M8X,[Etobicoke],"The Kingsway,Montgomery Road,Old Mill North",43.653654,-79.506944
91,M8Y,[Etobicoke],"Humber Bay,King's Mill Park,Kingsway Park Sout...",43.636258,-79.498509
92,M8Z,[Etobicoke],"Kingsway Park South West,Mimico NW,The Queensw...",43.628841,-79.520999
93,M9A,[Etobicoke],Islington Avenue,43.667856,-79.532242
94,M9B,[Etobicoke],"Cloverdale,Islington,Martin Grove,Princess Gar...",43.650943,-79.554724
95,M9C,[Etobicoke],"Bloordale Gardens,Eringate,Markland Wood,Old B...",43.643515,-79.577201
96,M9L,[North York],Humber Summit,43.756303,-79.565963
97,M9M,[North York],"Emery,Humberlea",43.724766,-79.532242
98,M9N,[York],Weston,43.706876,-79.518188
99,M9P,[Etobicoke],Westmount,43.696319,-79.532242
100,M9R,[Etobicoke],"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,[Etobicoke],"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,[Etobicoke],Northwest,43.706748,-79.594054

### Select only "East Toronto"

In [39]:
toronto_data = df_final[df_final['Borough'] == 'East Toronto'].reset_index(drop=True)
toronto_data.head()

,PostCode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M4E,[East Toronto],The Beaches,M4E,43.676357,-79.293031
1,M4K,[East Toronto],"The Danforth West,Riverdale",M4K,43.679557,-79.352188
2,M4L,[East Toronto],"The Beaches West,India Bazaar",M4L,43.668999,-79.315572
3,M4M,[East Toronto],Studio District,M4M,43.659526,-79.340923
4,M7Y,[East Toronto],Business Reply Mail Processing Centre 969 Eastern,M7Y,43.662744,-79.321558

### I get coordante about Toronto and Print

In [33]:
address = 'East Toronto'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto are 43.653963, -79.387207.

### Create Map Toronto

In [38]:
# create map of Manhattan using latitude and longitude values
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(toronto_data['Latitude'], toronto_data['Longitude'], toronto_data['Neighbourhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto